name: CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    tags: [ 'v**' ]
  pull_request:
    branches: [ "main" ]
  schedule:
    # 17:00 on Friday (UTC)
    - cron: "00 17 * * 5"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  typos:
    name: Spelling (typos)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: crate-ci/typos@master

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
      fail-fast: False

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        make ci-install

    - name: Lint with ruff
      run: |
        make ruff

    - name: Lint with mypy
      run: |
        make mypy

    - name: Test with pytest
      run: |
        # NOTE: This is necessary for Python 3.14 and papis<0.15. The `docmatcher`
        # code in versions <0.15 does not work with the multiprocessing chances
        # in Python 3.14. See the following PR for the fix
        #   https://github.com/papis/papis/pull/1082
        export PAPIS_NP=0
        make pytest
      shell: bash

  pypi-release:
    needs: [build]
    name: PyPI Release
    environment: pypi
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - id: dist
      run: |
        make ci-install-build-system
        python -m build .

    - if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      name: Publish Package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
